{% extends 'main/base.html' %}

{% block title %}
    ESignboard &ndash; pulpit
{% endblock %}

{% block content %}
    <div class="jumbotron">
      <div class="container">
        <h2>Witaj, {{user.username}}!</h2>
        <p>Na tym pulpicie zobaczysz powiązane z Tobą części systemu ESignboard. Umożliwia Ci też on przejście do stron, pozwalających na zmianę informacji dotyczących poszczególnych urządzeń.</p>
        <!--<p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>-->
      </div>
    </div>

    <div class="container">
        <h3>Mdevice</h3>
            {% if not mdevices %}
            <div class="alert alert-info">
                Nie posiadasz żadnych przypisanych do siebie Mdevice.
            </div>
            {% else %}
                <div class="row head">
                    <div class="col-md-9">Nazwa</div>
                    <div class="col-md-3">Edycja</div>
                </div>
                {% for mdevice in mdevices %}
                    <div class="row">
                        <div class="col-md-9">{{mdevice.name}}</div>
                        <div class="col-md-3"><a href="{% url 'devices:mdevice_edit' mdevice.id %}">Zmień</a></div>
                    </div>
                {% endfor %}
            {% endif %}

    </div>

    <div class="container">
        <div style="position: relative;">
            <h3>POI</h3>
            <a href="{% url 'devices:poi_new' %}" class="btn btn-success" style="position: absolute; right: 0; top: 0;">+ Dodaj POI</a>
        </div>
            {% if not pois %}
            <div class="alert alert-info">
                Nie posiadasz żadnych przypisanych do siebie POI.
            </div>
            {% else %}
            <div class="row head">
                    <div class="col-md-3">Nazwa</div>
                    <div class="col-md-3">UUID</div>
                    <div class="col-md-3">MDevice</div>
                    <div class="col-md-3">Edycja</div>
            </div>
                {% for poi in pois %}
                    <div class="row">
                        <div class="col-md-3">{{poi.name}}</div>
                        <div class="col-md-3">{{poi.uuid}}</div>
                        <div class="col-md-3"><a href="{% url 'devices:mdevice_edit' poi.parent_device.id %}">{{poi.parent_device.name}}</a></div>
                        <div class="col-md-3"><a href="{% url 'devices:poi_edit' poi.id %}">Zmień</a></div>
                    </div>
                {% endfor %}
            {% endif %}

    </div>
{% endblock %}